.works{
    .container{
        margin-left: 15%;
        margin-top: 100px;
        width: 50%;
        h2{
            font-size: 70px;
            font-family: $font-1;
            color: $title;
        }
        p{
            line-height: 1.5rem;
            margin-top: 20px;
            padding-bottom: 20px;
        }
        .content-arrow-home{
            display: flex;
            margin-top: 50px;

            .arrow-home{
                padding-top: 15px;
                margin-left: 10px;
            }
        } 
    }
    .arrow-home{
        margin-top: 10px;
    }

    button.btn-home{
        margin-bottom: 30px;
        border: $color-1 1px solid;
        background-color: $white;
        color: $color-3;
        padding: 8px;
        border-radius: 8px;
        cursor: pointer;
    }
}